<!-- <div class="preloader">
  <div class="status">&nbsp;</div>
</div> -->

<!--Navbar Start-->
<nav class="navbar navbar-expand-md navbar-custom navbar-light sticky-dark" id="navbar-sticky">
  <div class="container">
      <!-- LOGO -->
      <a href="index.html">
        <p class="logo" style="margin-bottom: 0; font-family: 'Gill Sans Ultra Bold', sans-serif;"><img src="../assets/images/smashthoughts logo_processed.jpg" alt="smashthoughts">Smash Thoughts</p>
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="ion-navicon"></i>
          </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ms-auto navbar-center" id="mySidenav">
              <li class="nav-item">
                  <a href="#home" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                  <a href="#services" class="nav-link">Services</a>
              </li>
              <li class="nav-item">
                  <a href="#works" class="nav-link">Gallery</a>
              </li>
              <li class="nav-item">
                  <a href="#team" class="nav-link">Team</a>
              </li>
              <li class="nav-item">
                  <a href="#pricing" class="nav-link">Pricing</a>
              </li>
              <li class="nav-item">
                  <a href="#contact" class="nav-link">Contact</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
<!-- Navbar End -->

<!-- hero start -->
<section class="hero-custom bg-one" id="home">
  <div class="bg-overlay"></div>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
      <!-- Indicators -->
      <ol class="carousel-indicators carousel-indicators-dark" style="list-style-type: none;">
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner carousel-custom" role="listbox">
          <div class="carousel-item active">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-9 center-page">
                          <div class="home-wrapper text-center">
                              <h2 class="text-white fw-bold f-36 mt-3 pb-2 animated fadeInDown wow" data-wow-delay=".1s">We teach IT skills</h2>
                              <p class="text-white f-16 mb-5 mt-4 animated fadeInDown wow" data-wow-delay=".2s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros.</p>
                              <!-- <a href="javascript:void(0);" class="btn btn-success rounded-pill animated fadeInDown wow" data-wow-delay=".4s">Learn more</a> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="carousel-item">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-9 center-page">
                          <div class="home-wrapper text-center">
                              <h2 class="text-white fw-bold f-36 mt-3 pb-2 animated fadeInDown wow" data-wow-delay=".1s">We create professional websites for your business</h2>
                              <p class="text-white f-16 mb-5 mt-4 animated fadeInDown wow" data-wow-delay=".2s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros.</p>
                              <!-- <a href="javascript:void(0);" class="btn btn-success rounded-pill animated fadeInDown wow" data-wow-delay=".4s">Learn more</a> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- hero end -->

<!-- client logo start -->
<section class="section" id="services">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-sm-6 text-center">
              <h4 class="text-uppercase fw-bold">Our Services</h4>
              <div class="title-hr"></div>
              <!-- <p class="sub-title">Dantes remained confused and silent by this explanation of the thoughts which had unconsciously</p> -->
          </div>
      </div>

      <div class="row">
          <div class="col-lg-4">
              <div class="services-box my-4 text-center wow fadeInLeft animated">
                  <div class="icon-box mb-4 pb-2">
                      <img src="../assets/images/icons/video.png" alt="" class="service-img img-fluid">
                  </div>

                  <div>
                      <h5 class="fw-bold f-18 mb-3">IT Training and Consuting</h5>
                      <p class="text-muted">IT training and consulting involves providing specialized guidance and education to organizations and individuals in the field of information technology. This can include skills development in areas such as software development, cybersecurity, data management, and cloud computing.</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4">
              <div class="services-box my-4 text-center wow fadeInLeft animated">
                  <div class="icon-box mb-4 pb-2">
                      <img src="../assets/images/icons/browser-testing.png" alt="" class="service-img img-fluid">
                  </div>

                  <div>
                      <h5 class="fw-bold f-18 mb-3">Website Designs</h5>
                      <p class="text-muted">Website design encompasses the creation and layout of websites to ensure they are visually appealing, user-friendly, and functional. This process involves a combination of graphic design, user experience (UX) principles, and technical development.</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4">
              <div class="services-box my-4 text-center wow fadeInLeft animated">
                  <div class="icon-box mb-4 pb-2">
                      <img src="../assets/images/icons/drawing-tablet.png" alt="" class="service-img img-fluid">
                  </div>

                  <div>
                      <h5 class="fw-bold f-18 mb-3">Professional Softwares</h5>
                      <p class="text-muted">Professional software refers to specialized applications designed to meet the needs of various industries and enhance productivity. This category includes tools for project management, accounting, graphic design, software development, and data analysis, among others.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- client logo end -->

<!-- counter start -->
<!-- <section class="section section-light">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-sm-6 text-center">
              <h4 class="text-uppercase fw-bold">Fun Facts</h4>
              <div class="title-hr"></div>
              <p class="sub-title">Dantes remained confused and silent by this explanation of the thoughts which had unconsciously</p>
          </div>
      </div>

      <div class="row" id="counter">
          <div class="col-lg-3">
              <div class="text-center pt-3">
                  <div class="counter-content">
                      <h2 class="fw-bold"><span class="counter_value" data-target="6577">0</span> K</h2>
                      <h5 class="f-18">Lines Coded</h5>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="text-center pt-3">
                  <div class="counter-content">
                      <h2 class="fw-bold"><span class="counter_value" data-target="7800">0</span> +</h2>
                      <h5 class="f-18">Working Hours</h5>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="text-center pt-3">
                  <div class="counter-content">
                      <h2 class="fw-bold"><span class="counter_value" data-target="399">0</span></h2>
                      <h5 class="f-18">No. Of Template</h5>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="text-center pt-3">
                  <div class="counter-content">
                      <h2 class="fw-bold"><span class="counter_value" data-target="9995">0</span></h2>
                      <h5 class="f-18">No. of Clients</h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> -->
<!-- counter end -->

<!-- screenshots start -->
<section class="section" id="works" style="padding-top: 0 !important;">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-sm-6 text-center">
              <h4 class="text-uppercase fw-bold">Photo Gallery</h4>
              <div class="title-hr"></div>
              <p class="sub-title zoomIn animated wow" data-wow-delay=".2s">Our photo gallery showcases the vibrant learning environment at our coaching center, highlighting student activities, events, and achievements.
                  <br/>Explore the moments that capture our commitment to fostering growth and success in every learner!</p>
          </div>
      </div>

      <div class="row justify-content-center">
          <div class="col-md-4 col-sm-6">
              <div class="item-box mt-4">
                  <img class="item-container img-fluid mx-auto item-caption" src="../assets/images/screenshots/1.png" alt="1" />
                  <div class="item-mask mfp-image" data-src="../assets/images/screenshots/1.png" data-gallery="myGal"></div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="item-box mt-4">
                  <img class="item-container img-fluid mx-auto item-caption" src="../assets/images/screenshots/2.png" alt="2" />
                  <div class="item-mask mfp-image" data-src="../assets/images/screenshots/2.png" data-gallery="myGal"></div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="item-box mt-4">
                  <img class="item-container img-fluid mx-auto item-caption" src="../assets/images/screenshots/3.png" alt="3" />
                  <div class="item-mask mfp-image" data-src="../assets/images/screenshots/3.png" data-gallery="myGal"></div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="item-box mt-4">
                  <img class="item-container img-fluid mx-auto item-caption" src="../assets/images/screenshots/4.png" alt="4" />
                  <div class="item-mask mfp-image" data-src="../assets/images/screenshots/4.png" data-gallery="myGal"></div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="item-box mt-4">
                  <img class="item-container img-fluid mx-auto item-caption" src="../assets/images/screenshots/5.png" alt="5" />
                  <div class="item-mask mfp-image" data-src="../assets/images/screenshots/5.png" data-gallery="myGal"></div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="item-box mt-4">
                  <img class="item-container img-fluid mx-auto item-caption" src="../assets/images/screenshots/6.png" alt="6" />
                  <div class="item-mask mfp-image" data-src="../assets/images/screenshots/6.png" data-gallery="myGal"></div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- screenshots end -->


<!-- team start -->
<section class="section section-light" id="team">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-sm-6 text-center">
              <h4 class="text-uppercase fw-bold">Our Team</h4>
              <div class="title-hr"></div>
              <p class="sub-title zoomIn animated wow" data-wow-delay=".2s">Meet our passionate team of experienced educators dedicated to empowering students and fostering success in a supportive learning environment.</p>
                  <!-- <br/> text of the printing and typesetting industry.</p> -->
          </div>
      </div>

      <div class="row justify-content-center">
          <div class="col-sm-10">
              <div class="row team">
                  <div class="col-md-4">
                      <div class="team-member text-center animated fadeInDown wow" data-wow-delay=".1s">
                          <img src="../assets/images/team/team-1.jpg" alt="team-member" class="img-fluid">
                          <h4 class="mt-4 pt-1">Sreekanth Reddy</h4>
                          <p class="mb-2">Founder</p>
                          <ul class="list-inline social-list">
                              <li class="list-inline-item"><a href="" class="hover-success"><i class="ion-social-instagram"></i></a></li>
                              <li class="list-inline-item"><a href="" class="hover-success"><i class="ion-social-twitter"></i></a></li>
                              <li class="list-inline-item"><a href="" class="hover-success"><i class="ion-social-googleplus"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="team-member text-center animated fadeInDown wow" data-wow-delay=".3s">
                          <img src="../assets/images/team/team-2.jpg" alt="team-member" class="img-fluid">
                          <h4 class="mt-4 pt-1">Mike Oxbigg</h4>
                          <p class="mb-2">Founder</p>
                          <ul class="list-inline social-list">
                              <li class="list-inline-item"><a href="" class="hover-success"><i class="ion-social-facebook"></i></a></li>
                              <li class="list-inline-item"><a href="" class="hover-success"><i class="ion-social-twitter"></i></a></li>
                              <li class="list-inline-item"><a href="" class="hover-success"><i class="ion-social-googleplus"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="team-member text-center animated fadeInDown wow" data-wow-delay=".5s">
                          <img src="../assets/images/team/team-3.jpg" alt="team-member" class="img-fluid">
                          <h4 class="mt-4 pt-1">Eilean Dover</h4>
                          <p class="mb-2">Founder</p>
                          <ul class="list-inline social-list">
                              <li class="list-inline-item"><a href="" class="hover-success"><i class="ion-social-facebook"></i></a></li>
                              <li class="list-inline-item"><a href="" class="hover-success"><i class="ion-social-twitter"></i></a></li>
                              <li class="list-inline-item"><a href="" class="hover-success"><i class="ion-social-googleplus"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- team end -->

<!-- pricing start -->
<section class="section" id="pricing">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-sm-6 text-center">
              <h4 class="text-uppercase fw-bold">Fee structue</h4>
              <div class="title-hr"></div>
              <p class="sub-title zoomIn animated wow" data-wow-delay=".2s">Constituto voluptatibus mei ex. Eum soleat lorem Ipsum is simply dummy
                  <br/> text of the printing and typesetting industry.</p>
          </div>
      </div>

      <div class="row justify-content-center">
          <div class="col-lg-10">
              <div class="row">
                  <!-- Pricing Item -->
                  <div class="col-sm-12 col-md-12 col-lg-12">
                      <div class="pricing-item animated fadeInLeft wow" data-wow-delay=".3s">
                          <div class="pricing-item-inner">
                              <div class="pricing-wrap">
                                  <!-- Icon (Simple-line-icons) -->
                                  <div class="pricing-icon">
                                      <!-- <i class="ion-plane"></i> -->
                                  </div>
                                  <!-- Pricing Title -->
                                  <div class="pricing-title">
                                      Basics of programming
                                  </div>
                                  <!-- Pricing Features -->
                                  <div class="pricing-features">
                                      <ul class="sf-list pr-list">
                                          <li>Python</li>
                                          <li>SQL</li>
                                          <li>Aptitude</li>
                                          <li>Resume building</li>
                                          <li>Placement Support</li>
                                      </ul>
                                  </div>
                                  <div class="pricing-num">
                                      <sup>₹</sup>8000
                                  </div>
                                  <div class="pr-per">
                                      
                                  </div>
                                  <!-- Button -->
                                  <div class="pr-button">
                                      <a href="" class="btn btn-success rounded-pill">Buy Now</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End Pricing Item -->

                  <!-- Pricing Item -->
                  
                  <!-- End Pricing Item -->

                  <!-- Pricing Item -->
                  
                  <!-- End Pricing Item -->
              </div>
          </div>
      </div>
  </div>
</section>
<!-- pricing end -->

<!-- testimonial start -->
<section id="contact" class="section bg-custom-dark">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8 text-center">
              <div class="p-4 text-white zoomIn animated wow" data-wow-delay=".1s">
                
                <app-contactform></app-contactform>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- testimonial end -->

<!-- footer start -->
<footer class="section section-light footer">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6">
              <h5 class="footer-link-title">Smash Thoughts</h5>
              <ul class="list-unstyled">
                  <li><a href="javascript:void(0);" class="footer-link">Home</a></li>
                  <li><a href="javascript:void(0);" class="footer-link">Admin Login</a></li>
                  <li><a href="javascript:void(0);" class="footer-link">About Us</a></li>
                  <li><a href="javascript:void(0);" class="footer-link">FAQ</a></li>
              </ul>
          </div>

          <div class="col-md-3 col-sm-6">
              <h5 class="footer-link-title">Social</h5>
              <ul class="list-unstyled">
                  <li><a href="javascript:void(0);" class="footer-link">Instagram</a></li>
                  <li><a href="javascript:void(0);" class="footer-link">YouTube</a></li>
                  <!-- <li><a href="javascript:void(0);" class="footer-link">Behance</a></li>
                  <li><a href="javascript:void(0);" class="footer-link">Dribbble</a></li> -->
              </ul>
          </div>

          <div class="col-md-3 col-sm-6">
              <h5 class="footer-link-title">Support</h5>
              <ul class="list-unstyled">
                  <li><a href="javascript:void(0);" class="footer-link">Help & Support</a></li>
                  <li><a href="javascript:void(0);" class="footer-link">Privacy Policy</a></li>
                  <li><a href="javascript:void(0);" class="footer-link">Terms & Conditions</a></li>
              </ul>
          </div>

          <div class="col-md-3 col-sm-6">
              <h5 class="footer-link-title">Contact</h5>
              <address>
                      795 Folsom Ave, Suite 600<br>
                      San Francisco, CA 94107<br>
                      <abbr title="Phone">P:</abbr> (123) 456-7890<br />
                      E: <a href="mailto:Smash Thoughts@Smash Thoughts.com" class="footer-link">Smash Thoughts.com</a>
                  </address>
          </div>

      </div>

      <div class="row">
          <div class="col-sm-12">
              <div class="footer-alt">
                  <p class="float-end">
                      <script>
                          document.write(new Date().getFullYear())
                      </script> © Smash Thoughts
                  </p>
                  <p class="logo" style="font-family: 'Gill Sans Ultra Bold', sans-serif;"><img src="../assets/images/smashthoughts logo_processed.jpg" alt="smashthoughts">Smash Thoughts</p>
              </div>
          </div>
      </div>
  </div>
</footer>

<router-outlet />
